{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Sofia">
  <title>Vintage</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

<!--      
  <script src="{% static 'js/main.js' %}"></script> -->
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <!-- <link href="assets/img/favicon.png" rel="icon">
  <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon"> -->

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{% static 'vendor/animate.css/animate.min.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/aos/aos.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{% static 'css/style.css' %}" rel="stylesheet">

  <!-- =======================================================
  * Template Name: Restaurantly - v3.1.0
  * Template URL: https://bootstrapmade.com/restaurantly-restaurant-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <!-- ======= Top Bar ======= -->
  <div id="topbar" class="d-flex align-items-center fixed-top">
    <div class="container d-flex justify-content-center justify-content-md-between">

      <div class="contact-info d-flex align-items-center">
        <i class="bi bi-phone d-flex align-items-center"><span>00970598443134</span></i>
        <i class="bi bi-clock d-flex align-items-center ms-4"><span> Everyday - 9AM - 23PM</span></i>
      </div>

     
    </div>
  </div>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top d-flex align-items-cente">
    <div class="container-fluid container-xl d-flex align-items-center justify-content-lg-between">

      <h1 class="logo me-auto me-lg-0"><a id="vin" href="index.html">VINTA<span id="g">G</span>E</a><span  class="font-effect-outline" style="font-family:'Sofia'; font-style: italic; color:red ;">Menu </span> </h1>
      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <a href="index.html" class="logo me-auto me-lg-0"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->

      <nav id="navbar" class="navbar order-last order-lg-0">
        <ul>
          
          
          <!-- <li class="dropdown"><a href="#"><span>Login</span> <i class="bi bi-chevron-down"></i></a>
            <ul>
              <li><a href="#">User</a></li> -->
              

              <!-- <li class="dropdown"><a href="#"><span>Deep Drop Down</span> <i class="bi bi-chevron-right"></i></a>
                <ul> -->
                  <!-- <li><a href="#">Deep Drop Down 1</a></li>
                  <li><a href="#">Deep Drop Down 2</a></li>
                  <li><a href="#">Deep Drop Down 3</a></li>
                  <li><a href="#">Deep Drop Down 4</a></li>
                  <li><a href="#">Deep Drop Down 5</a></li> -->
                <!-- </ul> -->
              <!-- </li> -->
              <!-- <li><a href="#">User</a></li> -->
              <!-- <li><a href="#">Drop Down 3</a></li>
              <li><a href="#">Drop Down 4</a></li> -->
            <!-- </ul>
          </li> -->
          {%if request.session.name_of_user%}
          <li><a class="nav-link scrollto" href="/logout">Logout</a></li>
          <li><a class="nav-link scrollto" href="/">Back To home</a></li>
          
          {%endif%}
          
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->
      <a href="#book-a-table" class="book-a-table-btn scrollto d-none d-lg-flex">Book a table</a>

    </div>
  </header><!-- End Header -->

<br>
<br>
<br>
<br>
<br><br>

    <!-- ======= Menu Section ======= -->
    <section id="menu" class="menu section-bg">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Menu</h2>
          <p>Check Our Tasty Menu</p>
        </div>
        {%if request.session.name_of_user%}
        <div style="width: 10%; margin: 0 auto; margin-bottom: 20px;">
        <div>
          
        <a id="aa" href="/ordernow/success" > Submit  </a>
      </div>
      <br>
      {%if request.session.price%}
        <div>
          <p style="color: black; font-size: 1.1rem; background-color: #c2a45e; padding: 10px; border-radius: 10px 0px 10px 0px;">Total Price: <span style="color: red; font-size: 1.8rem; ">{{request.session.price}}</span> </p>
        </div>
        {%endif%}
        <div>
          
        
        </div>
      </div>
        {%endif%}
        <div class="row" data-aos="fade-up" data-aos-delay="100">
          <div class="col-lg-12 d-flex justify-content-center">
            
            <ul id="menu-flters">
              
              <li data-filter="*" class="filter-active">All</li>
              
              {%if hotdrinks%}
              <li data-filter=".filter-hot">Hot Drinks</li>
              {%endif%}
              {%if softdrinks%}
              <li  data-filter=".filter-soft">Soft Drinks</li>
              {%endif%}
              {%if sparklings%}
              <li data-filter=".filter-sparklings">Sparklings</li>
              {%endif%}

              {%if iced%}
              <li data-filter=".filter-iced">Iced Drinks</li>
              {%endif%}
              {%if drinks%}
              <li data-filter=".filter-drinks">Drinks</li>
              {%endif%}
              {%if milkshakes%}
              <li data-filter=".filter-shakes">Milkshakes</li>
              {%endif%}
              {%if conktails%}
              <li data-filter=".filter-cocktails">Cocktails</li>
              {%endif%}
              {%if starter%}
              <li data-filter=".filter-Starter">Starter</li>
              {%endif%}
              {%if salad%}
              <li data-filter=".filter-salad">Salad</li>
              {%endif%}
              {%if main%}
              <li data-filter=".filter-main">Main Meals</li>
              {%endif%}
              {%if chinese%}
              <li data-filter=".filter-Chinese">Chinese</li>
              {%endif%}
              {%if breakfast%}
              <li data-filter=".filter-breakfast">Breakfast</li>
              {%endif%}
              <li data-filter=".filter-specialty">Most requested</li>
            </ul>
          </div>
        </div>
       
        <div class="row menu-container" data-aos="fade-up" data-aos-delay="200">
     


          {% for j in softdrinks%}
          <div class="col-lg-6 menu-item filter-soft">
            {% if j.image %}
            <img src="{{ j.image.url }}" class="menu-img" alt="">
            {% endif %}
            <div class="menu-content">
              <a href="#">{{j.name}}</a><span>{{j.price}} NIS</span>
              
             
              
            </div>
            
            <div class="menu-ingredients">
              {{j.description}}
            </div>
            <!-- -------------------------------------------------------------------- odrer form -->
            <div style=" width: 24.5%; margin: 0 auto;">
              <form action="/ordernow/{{j.id}}" method="post">
                {% csrf_token %}
                <input type="number" id="quantity" name="quantity" min="0" max="10" placeholder="+">
                <input type="submit" class="AddToCartBtn" value="Add to Cart" style="background-color: #c2a45e; height: 37px; border-radius: 5px;">
                </form>
            </div>
            <hr>
            <!-- -------------------------------------------------------------------- odrer form -->
          </div>
          {% endfor %}
 
          {% for h in hotdrinks%}
          <div class="col-lg-6 menu-item filter-hot">
            {% if h.image %}
            <img src="{{ h.image.url }}" class="menu-img" alt="">
            {% endif %}
            <div class="menu-content">
              <a href="#">{{h.name}}</a><span>{{h.price}} NIS</span>
            </div>
            <div class="menu-ingredients">
              {{h.description}}
            </div>
                  <!-- -------------------------------------------------------------------- odrer form -->
                  <div style=" width: 24.5%; margin: 0 auto;">
                    <form action="/ordernow/{{h.id}}" method="post">
                      {% csrf_token %}
                      <input type="number" id="quantity" name="quantity" min="0" max="10" placeholder="+">
                      <input type="submit" class="AddToCartBtn" value="Add to Cart" style="background-color: #c2a45e; height: 37px; border-radius: 5px;">
                      </form>
                  </div>
                  <hr>
                  <!-- -------------------------------------------------------------------- odrer form -->
          </div>
          {% endfor %}
        
     

          {% for s in sparklings %}
          <div class="col-lg-6 menu-item filter-sparklings">
            {% if s.image %}
            <img src="{{ s.image.url }}" class="menu-img" alt="">
            {% endif %}
            <div class="menu-content">
              <a href="#">{{s.name}}</a><span>{{s.price}} NIS</span>
            </div>
            <div class="menu-ingredients">
              {{s.description}}
            </div>
                  <!-- -------------------------------------------------------------------- odrer form -->
                  <div style=" width: 24.5%; margin: 0 auto;">
                    <form action="/ordernow/{{s.id}}" method="post">
                      {% csrf_token %}
                      <input type="number" id="quantity" name="quantity" min="0" max="10" placeholder="+">
                      <input type="submit" class="AddToCartBtn" value="Add to Cart" style="background-color: #c2a45e; height: 37px; border-radius: 5px;">
                      </form>
                  </div>
                  <hr>
                  <!-- -------------------------------------------------------------------- odrer form -->
          </div>
          {% endfor %}

          {% for s in IcedDrinks %}
          <div class="col-lg-6 menu-item filter-iced">
            {% if s.image %}
            <img src="{{ s.image.url }}" class="menu-img" alt="">
            {% endif %}
            <div class="menu-content">
              <a href="#">{{s.name}}</a><span>{{s.price}} NIS</span>
            </div>
            <div class="menu-ingredients">
              {{s.description}}
            </div>
                  <!-- -------------------------------------------------------------------- odrer form -->
                  <div style=" width: 24.5%; margin: 0 auto;">
                    <form action="/ordernow/{{s.id}}" method="post">
                      {% csrf_token %}
                      <input type="number" id="quantity" name="quantity" min="0" max="10" placeholder="+">
                      <input type="submit" class="AddToCartBtn" value="Add to Cart" style="background-color: #c2a45e; height: 37px; border-radius: 5px;">
                      </form>
                  </div>
                  <hr>
                  <!-- -------------------------------------------------------------------- odrer form -->
          </div>
          {% endfor %}

          {% for s in drinks %}
          <div class="col-lg-6 menu-item filter-drinks">
            {% if s.image %}
            <img src="{{ s.image.url }}" class="menu-img" alt="">
            {% endif %}
            <div class="menu-content">
              <a href="#">{{s.name}}</a><span>{{s.price}} NIS</span>
            </div>
            <div class="menu-ingredients">
              {{s.description}}
            </div>
                  <!-- -------------------------------------------------------------------- odrer form -->
                  <div style=" width: 24.5%; margin: 0 auto;">
                    <form action="/ordernow/{{s.id}}" method="post">
                      {% csrf_token %}
                      <input type="number" id="quantity" name="quantity" min="0" max="10" placeholder="+">
                      <input type="submit" class="AddToCartBtn" value="Add to Cart" style="background-color: #c2a45e; height: 37px; border-radius: 5px;">
                      </form>
                  </div>
                  <hr>
                  <!-- -------------------------------------------------------------------- odrer form -->
          </div>
          {% endfor %}

          {% for s in milkshakes %}
          <div class="col-lg-6 menu-item filter-shakes">
            {% if s.image %}
            <img src="{{ s.image.url }}" class="menu-img" alt="">
            {% endif %}
            <div class="menu-content">
              <a href="#">{{s.name}}</a><span>{{s.price}} NIS</span>
            </div>
            <div class="menu-ingredients">
              {{s.description}}
            </div>
                  <!-- -------------------------------------------------------------------- odrer form -->
                  <div style=" width: 24.5%; margin: 0 auto;">
                    <form action="/ordernow/{{s.id}}" method="post">
                      {% csrf_token %}
                      <input type="number" id="quantity" name="quantity" min="0" max="10" placeholder="+">
                      <input type="submit" class="AddToCartBtn" value="Add to Cart" style="background-color: #c2a45e; height: 37px; border-radius: 5px;">
                      </form>
                  </div>
                  <hr>
                  <!-- -------------------------------------------------------------------- odrer form -->
          </div>
          {% endfor %}

          {% for s in Chinese %}
          <div class="col-lg-6 menu-item filter-Chinese">
            {% if s.image %}
            <img src="{{ s.image.url }}" class="menu-img" alt="">
            {% endif %}
            <div class="menu-content">
              <a href="#">{{s.name}}</a><span>{{s.price}} NIS</span>
            </div>
            <div class="menu-ingredients">
              {{s.description}}
            </div>
                  <!-- -------------------------------------------------------------------- odrer form -->
                  <div style=" width: 24.5%; margin: 0 auto;">
                    <form action="/ordernow/{{s.id}}" method="post">
                      {% csrf_token %}
                      <input type="number" id="quantity" name="quantity" min="0" max="10" placeholder="+">
                      <input type="submit" class="AddToCartBtn" value="Add to Cart" style="background-color: #c2a45e; height: 37px; border-radius: 5px;">
                      </form>
                  </div>
                  <hr>
                  <!-- -------------------------------------------------------------------- odrer form -->
          </div>
          {% endfor %}

          {% for s in Starter %}
          <div class="col-lg-6 menu-item filter-Starter">
            {% if s.image %}
            <img src="{{ s.image.url }}" class="menu-img" alt="">
            {% endif %}            <div class="menu-content">
              <a href="#">{{s.name}}</a><span>{{s.price}} NIS</span>
            </div>
            <div class="menu-ingredients">
              {{s.description}}
            </div>
                  <!-- -------------------------------------------------------------------- odrer form -->
                  <div style=" width: 24.5%; margin: 0 auto;">
                    <form action="/ordernow/{{s.id}}" method="post">
                      {% csrf_token %}
                      <input type="number" id="quantity" name="quantity" min="0" max="10" placeholder="+">
                      <input type="submit" class="AddToCartBtn" value="Add to Cart" style="background-color: #c2a45e; height: 37px; border-radius: 5px;">
                      </form>
                  </div>
                  <hr>
                  <!-- -------------------------------------------------------------------- odrer form -->
          </div>
          {% endfor %}

          {% for s in salad %}
          <div class="col-lg-6 menu-item filter-salad">
            {% if s.image %}
            <img src="{{ s.image.url }}" class="menu-img" alt="">
            {% endif %}
            <div class="menu-content">
              <a href="#">{{s.name}}</a><span>{{s.price}} NIS</span>
            </div>
            <div class="menu-ingredients">
              {{s.description}}
            </div>
                  <!-- -------------------------------------------------------------------- odrer form -->
                  <div style=" width: 24.5%; margin: 0 auto;">
                    <form action="/ordernow/{{s.id}}" method="post">
                      {% csrf_token %}
                      <input type="number" id="quantity" name="quantity" min="0" max="10" placeholder="+">
                      <input type="submit" class="AddToCartBtn" value="Add to Cart" style="background-color: #c2a45e; height: 37px; border-radius: 5px;">
                      </form>
                  </div>
                  <hr>
                  <!-- -------------------------------------------------------------------- odrer form -->
          </div>
          {% endfor %}

          {% for s in mainMeals %}
          <div class="col-lg-6 menu-item filter-main">
            {% if s.image %}
            <img src="{{ s.image.url }}" class="menu-img" alt="">
            {% endif %}
            <div class="menu-content">
              <a href="#">{{s.name}}</a><span>{{s.price}} NIS</span>
            </div>
            <div class="menu-ingredients">
              {{s.description}}
            </div>
                  <!-- -------------------------------------------------------------------- odrer form -->
                  <div style=" width: 24.5%; margin: 0 auto;">
                    <form action="/ordernow/{{s.id}}" method="post">
                      {% csrf_token %}
                      <input type="number" id="quantity" name="quantity" min="0" max="10" placeholder="+">
                      <input type="submit" class="AddToCartBtn" value="Add to Cart" style="background-color: #c2a45e; height: 37px; border-radius: 5px;">
                      </form>
                  </div>
                  <hr>
                  <!-- -------------------------------------------------------------------- odrer form -->
          </div>
          {% endfor %}

          {% for s in Chinese %}
          <div class="col-lg-6 menu-item filter-Chinese">
            {% if s.image %}
            <img src="{{ s.image.url }}" class="menu-img" alt="">
            {% endif %}
            <div class="menu-content">
              <a href="#">{{s.name}}</a><span>{{s.price}} NIS</span>
            </div>
            <div class="menu-ingredients">
              {{s.description}}
            </div>
                  <!-- -------------------------------------------------------------------- odrer form -->
                  <div style=" width: 24.5%; margin: 0 auto;">
                    <form action="/ordernow/{{s.id}}" method="post">
                      {% csrf_token %}
                      <input type="number" id="quantity" name="quantity" min="0" max="10" placeholder="+">
                      <input type="submit" class="AddToCartBtn" value="Add to Cart" style="background-color: #c2a45e; height: 37px; border-radius: 5px;">
                      </form>
                  </div>
                  <hr>
                  <!-- -------------------------------------------------------------------- odrer form -->
          </div>
          {% endfor %}

          {% for s in breakfast %}
          <div class="col-lg-6 menu-item filter-breakfast">
            {% if s.image %}
            <img src="{{ s.image.url }}" class="menu-img" alt="">
            {% endif %}
            <div class="menu-content">
              <a href="#">{{s.name}}</a><span>{{s.price}} NIS</span>
            </div>
            <div class="menu-ingredients">
              {{s.description}}
            </div>
                  <!-- -------------------------------------------------------------------- odrer form -->
                  <div style=" width: 24.5%; margin: 0 auto;">
                    <form action="/ordernow/{{s.id}}" method="post">
                      {% csrf_token %}
                      <input type="number" id="quantity" name="quantity" min="0" max="10" placeholder="+">
                      <input type="submit" class="AddToCartBtn" value="Add to Cart" style="background-color: #c2a45e; height: 37px; border-radius: 5px;">
                      </form>
                  </div>
                  <hr>
                  <!-- -------------------------------------------------------------------- odrer form -->
          </div>
          {% endfor %}
      </div>
      
    </section>
    <!-- End Menu Section -->
   

    



  <div id="preloader"></div>
  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

<!-- Vendor JS Files -->
<script src="{% static 'vendor/aos/aos.js' %}"></script>
<script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'vendor/glightbox/js/glightbox.min.js' %}"></script>
<script src="{% static 'vendor/isotope-layout/isotope.pkgd.min.js' %}"></script>
<script src="{% static 'vendor/php-email-form/validate.js' %}"></script>
<script src="{% static 'vendor/swiper/swiper-bundle.min.js' %}"></script>
<script src="{% static 'js/main.js' %}"></script>

</body>

</html>